.frc-header{
    background-image: url('/img/10_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -20px;
    padding: 100px 0px;
}
.search_f{
    background-image: url('/img/10_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    margin-top: -20px;
    padding: 60px 0px;
}

button[type="submit"]{
    margin-top: 0px;
    height: 50px;
    width: 130px;
}

input[name="search"]{
    height: 50px;
    font-size: 16px;
}

.table>tbody>tr>td.title,.table>tbody>tr>th.title{
    color: #65AAF0;
}

.mt-10{
    margin-top: 15px;
}
.table>tbody>tr>td.des{
    color: #aaa;
    margin: 0 !important;
    font-size: 14px !important;
}