.search_u{
    background-image: url('/img/12_banner.jpg');
    /* background-repeat: no-repeat; */
    /* background-size: cover;
    background-position: center; */
    margin-top: -20px;
    padding: 60px 0px;
}

button[type="submit"]{
    margin-top: 0px;
    height: 50px;
    width: 130px;
}

input[name="search"]{
    height: 50px;
    font-size: 16px;
}

.table>tbody>tr>td{
    color: #272727;
}
.table>tbody>tr>td.title{
    color: #65AAF0;
}